<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theo Drackett's Resume</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="../public/styles/styles.css">
</head>
<body>
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" 
          aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./resume.html">Resume</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./contact.html">Contact me</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">My Projects</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="./hobbies.html">My Projects</a></li>
                  <li><a class="dropdown-item" href="./svh-iphone.html">SVH iPhone</a></li>
                  <li><a class="dropdown-item" href="./svh-android.html">SVH Android</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container profile-pic mt-5"><img src="../assets/images/my_profile_pic.png" height="150" alt="Pic of Theo Drackett">
        <h1 class="name">Theo Drackett</h1>
        <a class="contact-me" href="./public/contact.html">Contact Me</a>
    </div>
    
    <div>
    <h2>Personal Summary</h2>
    <p>
        Results-driven and meticulous QA Automation engineer with over 15 years’ experience in  <br>
        multiple languages, operating systems, and testing frameworks. Proven ability to design test <br>
        plans and test cases; identify and report bugs, configure test environments from the ground up; <br>
        and collaborate with development team to reach the best solutions. Possess excellent <br>
        documentation and communication skills, alongside an ability to formulate, advise and <br>
        implement testing strategies. Ability to interact with individuals at all levels. Experienced at <br>
        automating test cases using Cypress, JavaScript, Python, JAVA, and Selenium. Possesses a strong work <br>
        ethic and a willingness to learn and work with and mentor others.
    </p>
    <h2>KEY SKILLS AND CORE COMPETENCIES</h2>
    <ul>
        <li>Developed and implemented automation tests using Python, Cypress, and JavaScript, improving test efficiency by over 100%..</li>
        <li>Utilized Java and Selenium for creating robust automation test frameworks, leading to a 80% reduction in manual testing effort.</li>
        <li>Executed both manual and automated tests on HPE storage systems, ensuring 99.99% reliability and performance standards.</li>
        <li>Demonstrated strong communication and organizational skills, effectively troubleshooting issues with keen attention to detail.</li>
        <li>Managed documentation and defect tracking for multiple projects, streamlining the QA cycle and improving information flow.</li>
        <li>Collaborated with cross-functional teams to develop comprehensive test cases, enhancing unit, integration, and E2E test coverage.</li>
        <li>Applied extensive knowledge in industry standards, SDLC, Agile, SCRUM, and QA metrics to optimize testing processes.</li>
        <li>Consistently executed responsibilities in a timely manner, aligning tasks with company priorities and contributing to project milestones.</li>
        <li>Provided detailed reports and status dashboards to management, offering insights on automation sprint backlogs, schedules, and results.</li>
        <li>Authored white papers and updated compatibility matrices post-development cycle, supporting knowledge sharing and technical documentation.</li>

    </ul>
    <h2>Education</h2>
    <ul>
        <li>B.S., Business/Information Systems, University of Phoenix</li>
        <li>Computer Science - Associate degree, Mount Royal University</li>
        <li>AWS Certified Cloud Practitioner</li>
    </ul>
    <h2>PROFESSIONAL EXPERIENCE</h2>
    <ul>
        <li>
            <p>
                <h3>Hewlett Packard, San Jose, CA</h3>
                <h4>Senior QA System Engineer</h4>
                <h6>Apr 2011 To: Present</h6>
                <ul>
                  <li>Developed automation tests using Cypress, TypeScript, and JavaScript, enhancing test accuracy and efficiency.</li>
                  <li>Scheduled and maintained numerous test scripts using GitLab and Visual Studio Code, streamlining the testing process.</li>
                  <li>Researched and assisted in the implementation of new automation frameworks, contributing to over 100% increase in testing productivity.</li>
                  <li>Installed, configured, and provisioned Meraki devices for complex network environments.</li>
                  <li>Created and configured Organizations and Networks for automation testing, improving test environment reliability.</li>
                  <li>Designed comprehensive test plans, cases, and checklists tailored to business, engineering, database, and scalability requirements, ensuring thorough coverage.</li>
                  <li>Managed testing and release schedules, efficiently planning test cycles, tracking results, and reporting software bugs to the development team.</li>
                  <li>Utilized Jira for creating, tracking, and resolving bugs, enhancing issue resolution processes.</li>
                  <li>Tracked and reported on testing status using TestRail and Sorry Cypress, providing clear and actionable insights to stakeholders.</li>
                  <li>Facilitated ongoing communication with product teams and developers throughout the testing cycle, discussing defects, devising solutions, and providing updates.</li>
                  <li>Maintained automation tests using Python, significantly improving testing efficiency and coverage.</li>
                  <li>Played a key role in researching and assisting with the implementation of new automation frameworks, enhancing testing capabilities.</li>
                  <li>Installed, configured, and provisioned 3PAR HPE Storage Systems and SAN interconnects (FC, FCoE, iSCSI) including Cisco, Brocade, and HP switches, managing complex network environments.</li>
                  <li>Oversaw the installation and configuration of VMware ESXi, Windows, Red Hat, SuSe, Solaris, and HP/UX servers in diverse boot configurations, ensuring optimal system performance.</li>
                  <li>Designed comprehensive test plans, cases, and checklists in line with business, engineering, database, and scalability requirements, ensuring thorough testing across multiple platforms.</li>
                  <li>Defined and implemented test strategies, creating detailed test plans and reports that guided testing efforts and informed team decision-making.</li>
                  <li>Managed testing and release schedules, effectively planning test cycles, tracking results, and communicating software bugs to the development team for timely resolution.</li>
                  <li>Successfully completed partner certifications for HPE Storage systems on VMware and Microsoft platforms, demonstrating expertise in system integration.</li>
                  <li>Facilitated effective communication with product teams and developers throughout the testing cycle, addressing defects, devising solutions, and providing regular updates.</li>
                </ul>
                
            </p>
            <h3>LANGUAGES</h3>
            <ul>
                <li>Cypress</li>
                <li>Python</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>Selenium</li>
                <li>JAVA</li>
                <li>SWIFT</li>
                <li>Kotlin</li>
                <li>HTLM 5</li>
                <li>CSS</li>
            </ul>
            <h3>FRAMEWORKS</h3>
            <ul>
                <li>Jira</li>
                <li>GitLab</li>
                <li>GitHub</li>
                <li>Jenkins</li>
                <li>ALM</li>
                <li>TestNG</li>
                <li>Agile SCRUM</li>
            </ul>
            <h3>PLATFORMS</h3>
            <ul>
                <li>VMware</li>
                <li>Windows</li>
                <li>Linux</li>
            </ul>
        </li>
    </ul>
    <hr>
    <h3><a href="hobbies.html">Hobbies and projects</a></h3>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>